@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('fonts/helveticaneue-thin-webfont.eot');
    src: url('fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



head {
	display: none;
}
body {
	background-color: red;
	background-image: url('img/img5.jpg');
	background-size: 1370px 800px;
	display: block;
	background-repeat: no-repeat;
	font-family: "Helvetica Neue Regular", Arial, sans-serif;
	
}

/*.page {
	background-image: url('img5.jpg');
	width: 100%;
	position: relative;
}*/

header {
	
	position: relative;
}
header .menu {
	background: #2C61A2;
	height: 35px;
	width: 100%;
}

.menu li {
	float: right;
	text-align: center;
	padding: 7px 5px 12px 5px;
	margin: 0 5px 0 5px;
}





.menu a {
	text-decoration: none;
	color: #09C7C7;
	
}

a:hover {
	color: white;
	font-weight: bold;
}
li:hover {
	background: #09C7C7;
	color: white;
	font-weight: bold;
}


#box {
	text-decoration: underline;    
}
#box:hover {
  text-decoration: underline;
}
 
 

#box1 {
	margin-right: 30px;

}

/*.section:hover, #box1{
 	background: #09C7C7;
	color: white;
	font-weight: bold;

 }
 .section:hover, #box{
 	background: #09C7C7;
	color: white;
	font-weight: bold;

 }*/

.container {
	width: 350px;
	height: 550px;
	margin: 100px auto;
	position: relative;
}

.rgb {
	background-color: rgba(4, 4, 4, 0.5);
}
h1 {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 18px;
	color: white;
	text-align: center;

}
hr {
	margin: 0 0;
}
.fb {
	margin: 40px 70px;
	

	/*border-top: 1px solid white;*/
}





fieldset {
	width: 50px;
	height: 399px;
	border-top: 1px solid white;

	

	/*border-top: 1px solid black*/



	/*position: absolute;*/

}
legend {
	width: 50px;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	
	}
dl {
	margin: 10px 50px;
	padding: 5px 20px;
	color: black;
}
#firstname, #lastname, #email, #choosepassword, #passwordconfirm {
	height: 30px;
	background: black;
	border: none;
	width: 95%;
	box-shadow: 0px 3px 6px -5px #bebbbb;
	padding: 5px 5px;
	font-weight: bold;

}
#account {
	background-color: #4eabda;
	background-image: linear-gradient(to bottom, #67c6e6 0%, #2e7ac4 100%);
	color: white;
	border: none;
	width: 30%;
	font-size: 11px;
	margin: 10px 120px;
	padding: 7px 5px;


}

#firstname:hover {
	background: #1b5288;
	box-shadow: 0 0 23px 1px #12e0f8;
}
#lastname:hover {
	background: #1b5288;
	box-shadow: 0 0 23px 1px #12e0f8;
}
#email:hover {
	background: #1b5288;
	box-shadow: 0 0 23px 1px #12e0f8;
}
#choosepassword:hover {
	background: #1b5288;
	box-shadow: 0 0 23px 1px #12e0f8;
}
#passwordconfirm:hover {
	background: #1b5288;
	box-shadow: 0 0 23px 1px #12e0f8;
}

dt {
	background: black;
}
dd {
	color: white;
	font-size: 11px;
	font-weight: normal;
}

#fb {
	background: blue;
}
